{% load i18n %}

{% translate "Select permissions" as l10n_select_permissions %}

<form class="edit-permissions" role="form" action="" method="POST">
    {% csrf_token %}

    <div class="form-group mb-3">
        <label for="permissionSelect" class="form-label">{{ l10n_select_permissions|title }}</label>

        <select multiple="multiple" id="permissionSelect" name="permissionSelect">
            {% for permission in assigned_permissions %}
                <option value="{{ permission.pk }}" selected>
                    {{ permission.content_type }} | {{ permission.codename }} - {{ permission.name }}
                </option>
            {% endfor %}

            {% for permission in permissions %}
                <option value="{{ permission.pk }}">
                    {{ permission.content_type }} | {{ permission.codename }} - {{ permission.name }}
                </option>
            {% endfor %}
        </select>
    </div>
</form>
