/build/
/dist/
/*.egg-info/
.idea/
.tox/
htmlcov/
node_modules/

*.log
*.tmp
*.bak
*.old
__pycache__
.coverage
/coverage.xml
alliance_auth.sqlite3

/aa_permission_management/locale/en/
.esi-compatibility-date
.make/myauth-path
