{% extends "aa_permission_management/base.html" %}

{% load aa_i18n %}
{% load i18n %}

{% block aa_permission_management_body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    {% trans "Groups and States" %}
                </div>

                <div class="card-body">
                    <ul class="nav nav-tabs" id="groupsStatesTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link active"
                                id="groups-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#groups"
                                type="button"
                                role="tab"
                                aria-controls="groups"
                                aria-selected="true"
                            >
                                {% trans "Groups" %}
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="states-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#states"
                                type="button" role="tab"
                                aria-controls="states"
                                aria-selected="false"
                            >
                                {% trans "States" %}
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content mt-3" id="groupsStatesTabContent">
                        <div class="tab-pane fade show active" id="groups" role="tabpanel" aria-labelledby="groups-tab">
                            <!-- Groups content -->
                            <table id="table-groups" class="w-100 table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>{% translate "Group Name" %}</th>
                                        <th>{% translate "Member Count" %}</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="states" role="tabpanel" aria-labelledby="states-tab">
                            <!-- States content -->
                            <table id="table-states" class="w-100 table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>{% translate "State Name" %}</th>
                                        <th>{% translate "Member Count" %}</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    {% trans "Permissions" %}
                </div>

                <div class="card-body">
                    <div id="permissions"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    {% include "bundles/datatables-2-css-bs5.html" %}
    {% include "bundles/datatables-2-columncontrol-css-bs5.html" %}
{% endblock %}

{% block extra_javascript %}
    {% get_datatables_language_static LANGUAGE_CODE as DT_LANG_PATH %}

    {% include "bundles/datatables-2-js-bs5.html" %}
    {% include "bundles/datatables-2-columncontrol-js-bs5.html" %}

    <script>
        $(document).ready(() => {
            /* global DataTable */

            'use strict';

            // Default DataTable settings
            const dtDefaults = {
                language: {
                    url: '{{ DT_LANG_PATH }}',
                    processing: `{% include "framework/datatables/process-indicator.html" %}`
                },
                layout: { // See: https://datatables.net/reference/option/layout
                    topStart: 'pageLength',
                    topEnd: null,
                    bottomStart: 'info',
                    bottomEnd: 'paging'
                },
                ordering: { // See: https://datatables.net/reference/option/ordering
                    handler: true, // Enable ordering by clicking on column headers
                    indicators: false, // Disable ordering indicators on column headers (important when ColumnControl is used)
                },
                processing: true, // Show processing indicator when loading data
                serverSide: true, // Enable server-side processing
                pageLength: 10, // Override default page length if desired
                responsive : true
            }

            // Default ColumnControl settings for first two columns
            const columnControlDefaults = [
                {
                    target: 0,
                    content: [
                        'order',
                    ]
                },
                {
                    target: 1,
                    content: [
                        'search'
                    ]
                }
            ];

            /**
             * Create and return a DataTable instance.
             *
             * @param selector
             * @param ajaxUrl
             * @param secondColumnControl
             * @return {DataTable}
             */
            const createDataTable = (selector, ajaxUrl, secondColumnControl) => {
                const columnDefs = [
                    {
                        targets: [0],
                        columnControl: columnControlDefaults,
                    },
                    Object.assign(
                        {
                            targets: [1, 2],
                            sortable: false,
                            searchable: false,
                        },
                        secondColumnControl !== undefined ? { columnControl: secondColumnControl } : {}
                    ),
                ];

                return new DataTable(selector, {
                    ...dtDefaults,
                    ajax: ajaxUrl,
                    columnDefs,
                    order: [[0, "asc"]],
                });
            };

            // Initialize DataTables
            [
                {selector: '#table-groups', url: '{% url "aa_permission_management:get_groups" %}'},
                {selector: '#table-states', url: '{% url "aa_permission_management:get_states" %}'},
            ].forEach(({selector, url}) => createDataTable(selector, url));
        });
    </script>
{% endblock extra_javascript %}
