@media all {
    .aa-permission-management #loading-spinner svg {
        width: 2rem;
        height: 2rem;
    }
}

/* Multi Select
------------------------------------------------------------------------------------- */
@media all {
    .aa-permission-management .ms-container {
        width: 100%;
    }

    .aa-permission-management .ms-container .ms-list {
        height: 50vh;
        max-height: 558px;
    }
}
